
/*----------------Layout of webpage-----------------*/

body
{
	/*background-color: black;*/
    background-image: url("../resources/img.jpg");
	/*background-size:1368px 800px;*/
    /*background-size:cover;*/
	/*background-repeat: no-repeat;  */
    background-size: 100%; 
    padding-top: 20px;
    /*color: white;*/
}

ul 
{
    list-style-type: none;/*no bullets*/
    margin: 0;
    padding: 0 10px 0 0;
    overflow: hidden;
   /* position: fixed;  Set the navbar to fixed position 
    top: 0;  Position the navbar at the top of the page 
    width: 100%;*/
    /*position: sticky;
    top: 0;*/
   /* background-color: rgba(0, 0, 1, 0.4) ;/*with opacity*/
}

.bgimg
{
	height: 60px;
	width: 70px;
    border-radius: 50%;
    border: 4px #32ff7e dashed;
}

.bgimg:hover
{
	height: 62px;
	width: 72px;
    text-shadow: 4px 4px 4px red;
}

.head li 
{
    float: left;
}

.head li a 
{
    display: block;
    color: White;
    text-align: center;
    padding: 10px 1px 0px 5px;
    text-decoration: none;/*no underline*/
    line-height: 1.8;
   font-size:35px;
  /* background-color: blue;*/
}

i,sup
{
    color: #32ff7e;
}

.head li a:hover 
{
    color: white;
    text-decoration: none;
     text-shadow: 4px 4px 4px black;
     /*font-weight: bold;*/
     font-size: 36px;
}

.tabs li
{
	float: right;
    padding-left: 5px;
}

.tabs li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 5px 10px 5px;
    text-decoration: none;
    line-height: 1.8;
    font-size:16px;
    /*background-color: red;*/
    
 }

/*.logincolor
{
    color:OrangeRed; 
}

.signupcolor
{
    color:Maroon; 
}*/

.tabs li a:hover 
{
    background-color:rgba(0, 0, 1, 0.3);
    color: white;
    text-decoration: none;
    font-size:20px;
    border-radius: 10px;
}


.active
{
	font-weight: bold;
	font-size: 20px !important;
    border-bottom: 3px solid white;
    padding-bottom: 2px;
}


/*---------------------------Index-----------------------------------------------------------------------*/

/*homeimage*/
.home
{
    padding-top: 30px;
}

.homeimage img
{
    float: left;
    width: 600px;
    height: 500px;
}

.homeimage h1
{
    color: deeppink;
}

.homeimage h3
{
    color: darksalmon;
}

.homeimage p
{
    color: white;
    font-style: italic;
    font-size: 20px;
}

#taketestbtn
{
    text-align: center;
    padding-top: 10px;
    /*padding-bottom: 10px;*/
}
#taketestbtn button
{
    text-align: center;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 25px;
    border-radius: 5px;
    color: crimson;
    border: 1px crimson solid;
    background-color: transparent;
    font-family: verdana;
}

#taketestbtn button:hover
{
    background-color: crimson;
    color: white;
}

/*loginform*/

.lform
{
    float: right;
    margin-right: 50px;
    border:1px dotted white;
}

.ltable tr td
{
    font-size: 25px;
    color: orchid;
    padding: 15px;
}

.ltable input[type="text"],input[type="password"]
{
    background-color: transparent;
    border:none;
    border-bottom: 1px solid SlateBlue;
    color: white;
    font-size: 18px;
    font-family: verdana;
}


.ltable input[type=submit]
{
    
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
    border-radius: 3px;
    color: orchid;
    border: 1px orchid solid;
    background-color: transparent;
    font-family: verdana;
}

.ltable input[type=submit]:hover
{
    background-color: orchid;
    color: white;
}

.ltable .txt
{
    color: white;
}
.ltable a
{
    color: blue;
    font-style: italic;
}


/*headimage*/
.homecontents
{
     margin: 0 100px 0 100px;
}
.headimage img
{
    padding-top: 40px;
    text-align: center;
    width: 1100px;
    height: 400px;
}

#headtext
{
    padding-top: 20px;
    font-size: 40px;
    color: gold;
    font-family: arial;
}

#headtext2
{
    padding-top: 20px;
    font-size: 25px;
    color: darkgoldenrod;
}




/*---------------------------TestArea-----------------------------------------------------------------------*/

#theading
{
    padding-top: 20px;
}
#theading h1
{
    font-size: 40px;
    text-align: center;
    color: firebrick;
}
#theading h2
{
    text-align: center;
    color:lightsalmon; 
}


/*questions*/
.test
{
    border:0.1px dashed white;
    text-align: center;
   /* padding-top: 20px;*/
    padding-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

.questions
{
    padding-top: 80px;
}
.test .questions #que
{
    color: white;
    font-size: 23px;
    font-family: verdana;
}

.test .questions #ans
{
    font-size: 20px;
    padding: 10px 350px 0 350px;
}

#ans .btn1
{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50px;
    border: 4px solid darkgreen;
}

.questions .btn1
{
    float: left;
}

#ans .btn1
{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50px;
    border: 4px solid darkgreen;
}

#ans button #up
{
    color: darkgreen;
    font-size: 25px;
}


#ans .btn1:hover
{
    background-color: darkgreen;
}

.questions .btn2
{
    float: right;
}

#ans .btn2
{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50px;
    border: 4px solid red;
}

#ans button #down
{
    color: red;
    font-size: 25px;
}

#ans .btn2:hover
{
    background-color: red;
}

#nextbtn
{
    text-align: center;
    font-size: 30px;
    padding: 90px 25px 0px 25px;
}

#nextbtn button
{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    border-radius: 5px;
    color: crimson;
    text-align: center;
    border: 1px crimson solid;
    background-color: transparent;
    font-family: verdana;
}

#nextbtn button:hover
{
    background-color: crimson;
    color: white;
}

#subbtn
{
    text-align: center;
    font-size: 30px;
    padding: 90px 25px 0px 25px;
}

#subbtn button
{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    border-radius: 5px;
    color: forestgreen;
    text-align: center;
    border: 1px forestgreen solid;
    background-color: transparent;
    font-family: verdana;
}

#subbtn button:hover
{
    background-color: forestgreen;
    color: white;
}

/*---------------------------PerTypes-----------------------------------------------------------------------*/

.heads
{
    padding-top: 30px;
}
.heads h1
{
    margin-left: 100px;
    float: left;
    color: coral;

}

.heads button
{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    /*height: 40px;*/
    font-size: 20px;
    border-radius: 1px;
    color: LightSeaGreen;
    text-align: center;
    border: 1px LightSeaGreen solid;
    background-color: transparent;
    font-family: verdana;
    float: right;
}

.heads button:hover
{
    background-color: LightSeaGreen;
    color: white;
}

#line
{
    padding-top: 80px;
    border-bottom:  1px dotted yellow;
}

/*--content--*/
.pertypes h1
{
    text-align: center;
    color: IndianRed;
}

#per1,#per2,#per3,#per4
{
    display: inline-block;
    float: left;
    width: 325px;
    height: 480px;
    /*border:1px solid white;*/
    padding-top: 20px;
}
#per1:hover,#per2:hover,#per3:hover,#per4:hover
{
    display: inline-block;
    float: left;
    /*border:1px solid white;*/
    background-color: rgba(255,255, 255, 0.1); 
}
#per1 img,#per2 img,#per3 img,#per4 img
{
    width: 300px;
    height: 300px;
}


#per1  h3,h4,p
{
    text-align: center;
    color: white;
}

#per1 h3
{
    color: MediumOrchid;
}

#per1 h4
{
    color: violet;
}


#per2  h3,h4,p
{
    text-align: center;
    color: white;
}

#per2 h3
{
    color: yellowgreen;
}

#per2 h4
{
    color: palegreen;
}


#per3  h3,h4,p
{
    text-align: center;
    color: white;
}

#per3 h3
{
    color: turquoise;
}

#per3 h4
{
    color: skyblue;
}


#per4  h3,h4,p
{
    text-align: center;
    color: white;
}

#per4 h3
{
    color: goldenrod;
}

#per4 h4
{
    color: gold;
}








/*---------------------------AboutUs-----------------------------------------------------------------------*/

.framework
{
    padding-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
   /* background-color: black;*/
}

.framework h1
{
    text-align: center;
    color: orangered;
    font-size: 40px;
    font-weight: bold;
}

.framework h2
{
    color: darkorange;
    text-decoration: underline;
    font-weight: bold;
}

.framework p
{
    color: white;
    font-size: 20px;
    text-align: left; 
}

.framework .aspects
{
    color:peru ;
    font-size: 23px; 
}

.aspectexplain
{
    padding-top: 40px;
}
.aspectexplain img
{
    width: 400px;
    height: 250px;
    float: left; 
}


.aspectexplain1
{
    padding-top: 40px;
}
.aspectexplain1 img
{
    width: 400px;
    height: 250px;
    float: right; 
}

/*------Share----*/

.share
{
    margin-left: 470px;
    margin-right: 470px;
}
.share img
{
    width: 70px;
    height: 60px;
    padding-left: 5px;
    border-radius: 10px;
}




/*---------------------------Article-----------------------------------------------------------------------*/
 .article
 {
    margin:40px 80px 20px 120px;
    /*background-color: black;*/
 }

 .article h1
 {
    color: crimson;
    text-align: center;
 }

 #links
 {
    padding-top: 30px;
 }

 #links a p
 {
    font-size: 30px;
    color: deepskyBlue;
    padding-top: 10px;
    text-align: left;
 }

.iconn
{
    border-bottom: 0.1px Darkgray dotted ;
    margin-right: 250px;
}
.iconn i
{

    color:white;
    font-size: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
}

/*---------------------------Articles comman layout-----------------------------------------------------------------------*/
#buton
{
    padding-top: 30px;
}
#buton button
{
    position: fixed;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    /*height: 40px;*/
    font-size: 20px;
    border-radius: 3px;
    color: Salmon;
    text-align: center;
    border: 1px Salmon solid;
    background-color: transparent;
    font-family: verdana;
}

#buton button:hover
{
    background-color: Salmon;
    color: white;
}

.mainarticle #headline
{
    padding-top: 40px;
    margin: 0px 100px 0px 200px;
    font-size: 40px;
    color: teal;
}
.mainarticle #headline i
{
    font-size: 25px;
    color: tomato;
}

.mainarticle #content
{
    margin: 0px 200px 0px 200px;
    padding-top: 20px;
    color: white;
    font-size: 20px;
    font-family: verdana;
}

#content h3
{
    color: salmon;
}
/*---------------------------Signin-----------------------------------------------------------------------*/

/*-----------------text--------------------*/
.sptext
{
    color: firebrick;
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
    font-family: Arial;
}

.sp1text
{
    color: slateblue;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    font-family: Verdana;
    text-decoration: underline;
    font-style: italic;
}


/*-----------------SignIn Form--------------------*/

.spform
{
    padding-top: 40px;
    margin-left: 250px;
    margin-right: 250px;
    border:1px dashed white; 
}

.sptable td
{
    padding: 15px;
    padding-left: 30px;
    font-size:25px; 
    color: slateblue;
}

.sptable input[type=text],input[type=password]
{
    background-color: transparent;
    border:none;
    border-bottom: 1px solid SlateBlue;
}


.sptable input[placeholder]
{
    color: white;
    font-size: 20px;
}
.sptable input[type=submit]
{
    text-align: center;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
    border-radius: 3px;
    color: slateblue;
    border: 1px SlateBlue solid;
    background-color: transparent;
    font-family: verdana;
}

.sptable input[type=submit]:hover
{
    background-color: slateblue;
    color: white;
}



/*text line for click here*/
 #loghelp h3
 {
    text-align: center;
    color: white;
 }

 #loghelp a
 {
    font-style: italic;
    color: royalblue;
 }

/*-------------------------------------------------Result.php---------------------------------------------*/

#theadre
{
    text-align: center;
    font-family: verdana;
    font-size: 40px;
    color: salmon;
}

#rhead
{
    color: crimson;
    text-align: center;
    font-family: calibri;
    font-style: italic;
    font-size: 30px;
}

#result
{
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
}

#rtable
{
    border: 2px solid black;
    color: black;
    font-size: 16px;
}

#rtable td
{
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

