{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {%  block title %}
  <title>DevOps</title>
    {% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>

<!----------------------------Navbar------------------------------->

 <nav class="navbar-dark bg-primary navbar-collapse collpase">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">DevOps Skill Assessment</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> For Developers</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-briefcase"></span> For Organizations</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<!------------------------------ body --------------------------------------->


<div class="container-fluid">
    {% block body %}
    {% endblock %}
</div>

<!---------------------------------footer--------------------------------------->


</body>
</html>
